body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    background: #eee;
}

main {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main figure {
    margin: 0;
    padding: 1rem;
}

.hangman-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.figure2 {
    transform: scaleX(-1);

}
main figure svg > * {
    opacity: 0;
}

main figure svg #ground             { opacity: 1; }
main figure.scaffold svg #scaffold  { opacity: 1; }
main figure.head     svg #head      { opacity: 1; }
main figure.body     svg #body      { opacity: 1; }
main figure.arms     svg #arms      { opacity: 1; }
main figure.legs     svg #legs      { opacity: 1; }

main figure svg #ground2             { opacity: 1; }
main figure.scaffold2 svg #scaffold2  { opacity: 1; }
main figure.head2     svg #head2      { opacity: 1; }
main figure.body2     svg #body2      { opacity: 1; }
main figure.arms2     svg #arms2      { opacity: 1; }
main figure.legs2     svg #legs2      { opacity: 1; }


footer {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

footer p {
    text-align: center;
}

footer ul.nomatch {
    display: flex;
    margin: 0;
    padding: 0;
    height: 2rem;
    font-size: 1.2rem;
    opacity: .4;
    list-style: none;
}

footer ul.nomatch li {
    height: 1.4rem;
    margin: 0 .25rem;
}

footer ul.word {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

footer ul.word li {
    width: 2rem;
    height: 2rem;
    display: flex;
    padding: .5rem .25rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #222;
    margin: 0 .25rem;
    background: rgba(0,0,0,.1);
}

p {
    color: rgba(0,0,0,.4);
    font-size: 1.2rem;
    margin: 1rem 0;
}


section.game-over {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    z-index: 999;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

section.game-over.show {
    display: flex;
}

.game-over > h1 {
    font-size: 6rem;
    margin: 0;
}

.game-over > p {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.game-over > a {
    background: white;
    color: #222;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: .25rem;
    opacity: .8;
}

.game-over > a:hover {
    opacity: 1;
}

.module {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
}

.card {
    background-color: white;
    width: 50vw;
    max-width: 30rem;
    /* height: 100%; */
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
}
.score {
    display : flex;
    flex-direction: column;
    position: fixed;
    top: 15rem;
    left: 10rem;
}

.score p {
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 10px;
    
}

.won {
    background-color: rgb(69, 184, 69);
    color: rgb(0, 0, 0);
}

.lost {
    background-color: rgb(241, 66, 66);
    color:  rgb(241, 230, 230);
}

.played {
    background-color: rgb(68, 68, 68);
    color: rgb(241, 230, 230);
}

span {
    font-size: 1rem;
    display: block;
}

.diff-text {
    font-size: 0.9rem;
    color: black;
}

.button-container {
    display: flex;
    gap: 1rem;
}
button {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
}

.hint-container {
    text-align: center;
}
